div
{
  box-sizing: border-box;
  overflow: hidden;
}

h4
{
  color: white;
  margin: 0px;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.box
{
  background-color: white;
  padding: 1%;
  border-style: solid;
  border-width: 1px;
  width: 69%;
  height: 48%;
  text-align: center;
  margin: 10% auto;
}

.box1
{
  width: 100%;
  height: 7vh;
  background-color: rgba(78,210,234,255);
  margin-bottom: 0.5em;
  line-height: 300%;
}

.float_box
{
  width: 100%;
  height: 27vh;
}

.box2
{
  float: left;
  width: 29%;
  height: 27vh;
  background-color:rgba(160,194,99,255);
  opacity: 0.6;
}

.box3
{
  float: right;
  width: 70%;
  height: 19vh;
  background-color: rgba(245,197,49,255);
  margin-bottom: 0.5em;
}

.box4
{
  float: right;
  width: 70%;
  height: 6.6vh;
  background-color: rgba(137,137,137,255);
  line-height: 300%;
}

.box5
{
  margin-top: 0.5em;
  width: 100%;
  height: 7vh;
  background-color: rgba(255,165,0,255);
  line-height: 300%;
}
