        div
        {
            box-sizing: border-box;
        }

        .box
        {
            background-color: white;
            padding: 1.2%;
            width: 35%;
            border-style: solid;
            border-width: 1px;
            margin: 5% auto;
        }

        .box1
        {
            width: 100%;
            height: 15vh;
            background-color:rgba(255,77,166,255);
            margin-bottom: 2%;
        }

        .box2
        {
            float: left;
            width: 69%;
            height: 30vh;
            background-color: rgba(255,3,126,255);
        }

        .box3
        {
            float: right;
            width: 29%;
            height: 30vh;
            background-color: rgba(206,4,104,255);
        }

        .box4
        {
            margin-top: 2%;
            width: 100%;
            height: 15vh;
            background-color: rgba(128,39,85,255);
        }

        .float_box
        {
            height: 30vh;
            width: 100%;
        }

        .float_box::after
        {
            display: table;
            clear: both;
            content: "";
        }

        body
        {
            margin: 0;
            padding: 0;
        }
/* 
        @media screen and (max-width: 0px) {
  
            .box {
                width: 70%;
            } */