*{
    padding: 0;
    margin: 0;
}

div
{
    box-sizing: content-box;
}
.box
{
    height: 316px;
    width: 35%;
    background-color: white;
    margin: 100px auto;
    border: 1px solid black;
    padding: 15px;
}

.top
{
    height: 50px;
    width: 100%;
    float: left;
    background-color: rgba(255,77,166,255);
    margin-bottom: 8px;
}

.middle
{
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.left
{
    height: 200px;
    width: 65%;
    float: left;
    background-color: rgba(255,3,126,255);
    margin-right: 2px;
}

.right
{
    height: 200px;
    width: 33%;
    float: right;
    background-color: rgba(206,4,104,255);
}

.bottom
{
    height: 50px;
    width: 100%;
    float: left;
    background-color: rgba(128,39,85,255);
}
